.datasetWrapper {
  height: 303px;
  position: relative;
}
.datasetWrapper canvas {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
}
.datasetWrapper svg {
  position: relative;
  z-index: 5;
}
.datasetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  height: 100%;
}
.datasetContainer a:first-child {
  margin-top: 0;
}
.datasetContainer a {
  margin-top: 10px;
  overflow: auto;
  margin-bottom: 0;
}
.dataset {
    border: 1px solid #d2cfcf;
    border-radius: 2px;
}
.datasetName {
  height: 60px;
}

.errors {
    border: 1px solid #d2cfcf;
    border-radius: 2px;
    fill: none;
    stroke: #ffab00;
    stroke-width: 2;
}

a.datasetSelect.active {
  border: 1px solid #1EAEDB;
  -webkit-box-shadow:inset 0px 0px 0px 1px #1EAEDB;
  -moz-box-shadow:inset 0px 0px 0px 1px #1EAEDB;
  box-shadow:inset 0px 0px 0px 1px #1EAEDB;
}

a.datasetSelect {
  height: inherit;
  line-height: normal;
  padding: 5px;
  overflow: hidden;
}

.datasetSelect img {
  width: 100px;
  height: 65px;
  margin-top: 10px;
}

.networkContainer {
  margin: 70px 0;
}

.iterationHeader {
  margin-bottom: 50px;
  text-align: center;
}
.fullWidth {
  width: 100%;
}
.noMargin {
  margin: 0;
}
.trainForm label {
  font-size: 1.2rem;
}

a > i, button > i {
  margin-right: 8px;
}
.iconSet {
  padding-left: 10px;
}
.description {
  margin-bottom: 50px;
}
