.datasetWrapper {
  height: 303px;
}
.datasetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  height: 100%;
}
.datasetContainer a:first-child {
  margin-top: 0;
}
.datasetContainer a {
  margin-top: 10px;
  overflow: auto;
  margin-bottom: 0;
}
.dataset {
    border: 1px solid #d2cfcf;
    border-radius: 2px;
}

.errors {
    border: 1px solid #d2cfcf;
    border-radius: 2px;
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

a.datasetSelect.active {
  border: 1px solid #1EAEDB;
  -webkit-box-shadow:inset 0px 0px 0px 1px #1EAEDB;
  -moz-box-shadow:inset 0px 0px 0px 1px #1EAEDB;
  box-shadow:inset 0px 0px 0px 1px #1EAEDB;
}

a.datasetSelect {
  height: inherit;
  line-height: normal;
  padding: 5px;
}

.datasetSelect img {
  width: 100px;
}

.networkContainer {
  margin: 70px 0;
}
